[submodule "external/ikvm-fork"]
    path = external/ikvm-fork
    url = ../../mono/ikvm-fork
    branch = master
[submodule "external/macios-binaries"]
    path = external/macios-binaries
    url = ../../xamarin/macios-binaries
    branch = d16-9
[submodule "external/opentk"]
    path = external/opentk
    url = ../../mono/opentk.git
    branch = main
[submodule "external/Touch.Unit"]
    path = external/Touch.Unit
    url = ../../spouliot/Touch.Unit.git
    branch = main
[submodule "external/Xamarin.MacDev"]
    path = external/Xamarin.MacDev
    url = ../../xamarin/Xamarin.MacDev
    branch = d16-9
