[submodule "external/fsharp"]
    path = external/fsharp
    url = ../../fsharp/fsharp.git
    branch = master
[submodule "external/guiunit"]
    path = external/guiunit
    url = ../../mono/guiunit.git
[submodule "external/macios-binaries"]
    path = external/macios-binaries
    url = ../../xamarin/macios-binaries
    branch = d15-8
[submodule "external/mono"]
    path = external/mono
    url = ../../mono/mono.git
    branch = 2018-02
[submodule "external/opentk"]
    path = external/opentk
    url = ../../mono/opentk.git
    branch = master
[submodule "external/Touch.Unit"]
    path = external/Touch.Unit
    url = ../../spouliot/Touch.Unit.git
    branch = master
[submodule "external/Xamarin.MacDev"]
    path = external/Xamarin.MacDev
    url = ../../xamarin/Xamarin.MacDev
    branch = xcode10
