# Xamarin.iOS/Mac Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/builds @rolfbjarne

/docs

/mk @rolfbjarne

/msbuild @emaf @mauroa @rolfbjarne

/runtime @rolfbjarne

/src/AddressBook @dalexsoto
/src/addressbook.cs @dalexsoto
/src/AppKit @dalexsoto
/src/appkit.cs @dalexsoto
/src/ARKit
/src/arkit.cs
/src/AudioToolbox @dalexsoto
/src/audiotoolbox.cs @dalexsoto
/src/AudioUnit @dalexsoto
/src/audiounit.cs @dalexsoto
/src/authenticationservices.cs
/src/AVFoundation @mandel-macaque @dalexsoto
/src/avfoundation.cs @mandel-macaque @dalexsoto
/src/AVKit @dalexsoto
/src/avkit.cs @dalexsoto
/src/CallKit @dalexsoto
/src/callkit.cs @dalexsoto
/src/CarPlay @dalexsoto
/src/carplay.cs @dalexsoto
/src/CFNetwork @mandel-macaque
/src/cfnetwork.cs @mandel-macaque
/src/CloudKit @mandel-macaque
/src/cloudkit.cs @mandel-macaque
/src/Compression @mandel-macaque
/src/Contacts @dalexsoto
/src/contacts.cs @dalexsoto
/src/CoreAudio @dalexsoto
/src/coreaudio.cs @dalexsoto
/src/CoreBluetooth @dalexsoto
/src/corebluetooth.cs @dalexsoto
/src/CoreData @mandel-macaque
/src/coredata.cs @mandel-macaque
/src/CoreFoundation @rolfbjarne
/src/corefoundation.cs @rolfbjarne
/src/CoreGraphics
/src/coregraphics.cs
/src/CoreImage
/src/coreimage.cs
/src/CoreLocation @dalexsoto
/src/corelocation.cs @dalexsoto
/src/CoreMedia @dalexsoto
/src/coremedia.cs @dalexsoto
/src/CoreMIDI @dalexsoto
/src/coremidi.cs @dalexsoto
/src/CoreML @dalexsoto
/src/coreml.cs @dalexsoto
/src/CoreMotion
/src/coremotion.cs
/src/CoreSpotlight @dalexsoto
/src/corespotlight.cs @dalexsoto
/src/CoreTelephony
/src/coretelephony.cs
/src/CoreText
/src/coretext.cs
/src/CoreVideo @dalexsoto @rolfbjarne
/src/corevideo.cs @dalexsoto @rolfbjarne
/src/EventKit @dalexsoto
/src/eventkit.cs @dalexsoto
/src/ExternalAccessory @dalexsoto
/src/externalaccessory.cs @dalexsoto
/src/Foundation @rolfbjarne
/src/Foundation/NSUrl* @mandel-macaque
/src/foundation.cs @rolfbjarne
/src/GameController
/src/gamecontroller.cs
/src/GameKit
/src/gamekit.cs
/src/GameplayKit @dalexsoto
/src/gameplaykit.cs @dalexsoto
/src/generator* @dalexsoto @rolfbjarne
/src/GLKit @dalexsoto
/src/glkit.cs @dalexsoto
/src/HealthKit
/src/healthkit.cs
/src/HomeKit
/src/homekit.cs
/src/iad.cs
/src/iAd.framework
/src/identitylookup.cs @dalexsoto
/src/identitylookupui.cs @dalexsoto
/src/ituneslibrary.cs @mandel-macaque
/src/iTunesLibrary @mandel-macaque
/src/ImageIO
/src/imageio.cs
/src/ImageKit
/src/imagekit.cs
/src/Intents @dalexsoto
/src/intents.cs @dalexsoto
/src/IntentsUI @dalexsoto
/src/intentsui.cs @dalexsoto
/src/JavaScriptCore @rolfbjarne
/src/javascriptcore.cs @rolfbjarne
/src/LocalAuthentication
/src/localauthentication.cs
/src/MapKit
/src/mapkit.cs
/src/MediaPlayer @mandel-macaque
/src/mediaplayer.cs @mandel-macaque
/src/Messages
/src/messages.cs
/src/MessageUI
/src/messageui.cs
/src/Metal @mandel-macaque
/src/metal.cs @mandel-macaque
/src/MetalKit
/src/metalkit.cs
/src/MetalPerformanceShaders
/src/metalperformanceshaders.cs
/src/MetalPerformanceShadersGraph @praeclarum
/src/metalperformanceshadersgraph.cs @praeclarum
/src/MobileCoreServices
/src/mobilecoreservices.cs
/src/ModelIO
/src/modelio.cs
/src/MultipeerConnectivity
/src/multipeerconnectivity.cs
/src/naturallanguage.cs @mandel-macaque
/src/NaturalLanguage @mandel-macaque
/src/Network @mandel-macaque
/src/NetworkExtension
/src/networkextension.cs
/src/NotificationCenter
/src/notificationcenter.cs
/src/OpenGLES
/src/opengles.cs
/src/PassKit
/src/passkit.cs
/src/Photos @dalexsoto
/src/photos.cs @dalexsoto
/src/PhotosUI @dalexsoto
/src/photosui.cs @dalexsoto
/src/PushKit @dalexsoto
/src/pushkit.cs @dalexsoto
/src/QuartzCore
/src/quartzcore.cs
/src/QuickLook
/src/quicklook.cs
/src/ReplayKit @dalexsoto
/src/replaykit.cs @dalexsoto
/src/SafariServices
/src/safariservices.cs
/src/SceneKit @dalexsoto
/src/scenekit.cs @dalexsoto
/src/Security @dalexsoto
/src/security.cs @dalexsoto
/src/Speech @dalexsoto
/src/speech.cs @dalexsoto
/src/SpriteKit
/src/spritekit.cs
/src/SystemConfiguration
/src/systemconfiguration.cs
/src/System.Net.Http @mandel-macaque
/src/UIKit @dalexsoto @rolfbjarne
/src/uikit.cs @dalexsoto @rolfbjarne
/src/UserNotifications @dalexsoto
/src/usernotifications.cs @dalexsoto
/src/UserNotificationsUI @dalexsoto
/src/usernotificationsui.cs @dalexsoto
/src/VideoSubscriberAccount @dalexsoto
/src/videosubscriberaccount.cs @dalexsoto
/src/VideoToolbox @dalexsoto
/src/videotoolbox.cs @dalexsoto
/src/Vision @dalexsoto
/src/vision.cs @dalexsoto
/src/WatchConnectivity @rolfbjarne
/src/watchconnectivity.cs @rolfbjarne
/src/WatchKit @rolfbjarne
/src/watchkit.cs @rolfbjarne
/src/WebKit
/src/webkit.cs

/tests/xharness @rolfbjarne @mandel-macaque
/tests/xtro-sharpie
/tests/mmptest @rolfbjarne
/tests/common/mac @rolfbjarne
/tests/bcl-tests @mandel-macaque

/tools/common @rolfbjarne
/tools/common/StaticRegistrar.cs @rolfbjarne
/tools/tools/devops/device-tests @mandel-macaque
/tools/linker
/tools/mmp
/tools/mtouch @rolfbjarne
/tools/nnyeah @stephen-hawley

configure @rolfbjarne
Make.* @rolfbjarne
Makefile @rolfbjarne
system-dependencies.sh @rolfbjarne
