*index.html
*.log
*-unified.sln
*TestResult.xml
build
*-tvos.?sproj
*-tvos.sln
*-watchos.?sproj
*-watchos-app.?sproj
*-watchos-extension.?sproj
*-watchos.sln
*-tvos.plist
*-watchos.plist
*-unified.?sproj
*-unified-32.?sproj
*-unifiedXM45.?sproj
*-unifiedXM45-32.?sproj
*-unifiedXM45.sln
*-unified-32.sln
*-unifiedXM45-32.sln
*-mac.?sproj
*-mac-32.?sproj
*-macXM45.?sproj
*-macXM45-32.?sproj
*-macXM45.sln
*-mac-32.sln
*-macXM45-32.sln
*-today.?sproj
*-today-extension.?sproj
*-today.sln
*-system.csproj
Makefile-mac.inc
.stamp*
Info-*.plist
*.zip
Makefile.inc
*.stamp
test.config
test-system.config
mac-test-package
.nuget
logs
*.mSYM
*.generated.cs
x86

