generated-projects
*index.html
*.log
*TestResult*.xml
build
*-tvos.?sproj
*-tvos.sln
*-watchos.?sproj
*-watchos-app.?sproj
*-watchos-extension.?sproj
*-watchos.sln
*-tvos.plist
*-watchos.plist
*-mac.?sproj
*-full.?sproj
*-today.?sproj
*-today-extension.?sproj
*-today.sln
*-system.csproj
*-unified*.csproj
.stamp*
Info-*.plist
*.zip
Makefile.inc
*.stamp
test.config
test-system.config
mac-test-package
dotnet-test-package
.nuget
logs
*.mSYM
*.generated.cs
x86
bcl-test/templates
*.7z
