<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">iPhoneSimulator</Platform>
    <ProductVersion>10.0.0</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{26125265-2204-4514-A572-36079CA4F925}</ProjectGuid>
    <ProjectTypeGuids>{FEACFBD2-3405-455C-9665-78FE426C6842};{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</ProjectTypeGuids>
    <OutputType>Exe</OutputType>
    <RootNamespace>Mono.Native.Tests</RootNamespace>
    <IPhoneResourcePrefix>Resources</IPhoneResourcePrefix>
    <AssemblyName>mononativetests</AssemblyName>
    <NoWarn>168,169,219,414,612,618,649,672</NoWarn>
    <TargetFrameworkIdentifier>Xamarin.iOS</TargetFrameworkIdentifier>
    <IntermediateOutputPath>obj\$(Platform)\$(Configuration)-unified</IntermediateOutputPath>
    <RestoreProjectStyle>PackageReference</RestoreProjectStyle>
    <RootTestsDirectory>..\..</RootTestsDirectory>
    <LangVersion>latest</LangVersion>
    <AllowUnsafeBlocks>true</AllowUnsafeBlocks>
  </PropertyGroup>
  <PropertyGroup>
    <MonoNativeMode Condition="'$(TargetFrameworkIdentifier)|$(Configuration)|$(Platform)' == 'Xamarin.iOS|Debug|iPhoneSimulator'">MONO_NATIVE_SYMLINK</MonoNativeMode>
    <MonoNativeMode Condition="'$(MonoNativeMode)' == ''">MONO_NATIVE_STATIC</MonoNativeMode>
    <DefineConstants>$(MonoNativeMode);$(DefineConstants)</DefineConstants>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|iPhoneSimulator' ">
    <DebugSymbols>True</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>False</Optimize>
    <OutputPath>bin\iPhoneSimulator\$(Configuration)-unified</OutputPath>
    <DefineConstants>DEBUG;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <MtouchDebug>True</MtouchDebug>
    <MtouchLink>None</MtouchLink>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchExtraArgs>-v -v</MtouchExtraArgs>
    <MtouchArch>x86_64</MtouchArch>
    <CodesignKey>iPhone Developer</CodesignKey>
    <MtouchHttpClientHandler>HttpClientHandler</MtouchHttpClientHandler>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|iPhoneSimulator' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhoneSimulator\$(Configuration)-unified</OutputPath>
    <DefineConstants>$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <MtouchLink>None</MtouchLink>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchExtraArgs>-v -v</MtouchExtraArgs>
    <MtouchArch>x86_64</MtouchArch>
    <MtouchHttpClientHandler>HttpClientHandler</MtouchHttpClientHandler>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|iPhone' ">
    <DebugSymbols>True</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>False</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>DEBUG;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <MtouchDebug>True</MtouchDebug>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchExtraArgs>-v -v</MtouchExtraArgs>
    <MtouchArch>ARM64</MtouchArch>
    <MtouchLink>SdkOnly</MtouchLink>
    <MtouchHttpClientHandler>HttpClientHandler</MtouchHttpClientHandler>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|iPhone' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchExtraArgs>-v -v</MtouchExtraArgs>
    <MtouchArch>ARM64</MtouchArch>
    <MtouchUseLlvm>true</MtouchUseLlvm>
    <MtouchLink>SdkOnly</MtouchLink>
    <MtouchHttpClientHandler>HttpClientHandler</MtouchHttpClientHandler>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Xml" />
    <Reference Include="System.Core" />
    <Reference Include="Xamarin.iOS" />
    <ProjectReference Include="..\..\..\external\Touch.Unit\Touch.Client\iOS\Touch.Client-iOS.csproj">
      <Project>{F611ED96-54B5-4975-99BB-12F50AF95936}</Project>
      <Name>Touch.Client-iOS</Name>
    </ProjectReference>
  </ItemGroup>
  <ItemGroup>
    <Folder Include="Resources\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="Info.plist">
      <LogicalName>Info.plist</LogicalName>
    </None>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="..\AppDelegate.cs" />
    <Compile Include="..\NativePlatformConfig.cs" />
    <Compile Include="..\Introspection.cs" />
    <Compile Include="..\..\..\builds\mono-ios-sdk-destdir\ios-sources\mcs\class\corlib\Test\Mono\MonoNativePlatform.cs">
      <Link>MonoNativePlatform.cs</Link>
    </Compile>
    <Compile Include="..\..\..\builds\mono-ios-sdk-destdir\ios-sources\mcs\class\corlib\Test\Mono\MonoNativePlatformType.cs">
      <Link>MonoNativePlatformType.cs</Link>
    </Compile>
    <Compile Include="..\..\..\builds\mono-ios-sdk-destdir\ios-sources\mcs\class\corlib\Test\Mono\NativePlatformTest.cs">
      <Link>NativePlatformTest.cs</Link>
    </Compile>
    <Compile Include="..\..\common\MonoNativeConfig.cs">
      <Link>MonoNativeConfig.cs</Link>
    </Compile>
  </ItemGroup>
  <Import Project="$(RootTestsDirectory)\nunit.framework.targets" />
  <Import Project="$(MSBuildExtensionsPath)\Xamarin\iOS\Xamarin.iOS.CSharp.targets" />
</Project>

