<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>com.xamarin.MyDocumentPickerExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.MyWebViewApp.MyDocumentPickerExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.xamarin.MyDocumentPickerExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UIDocumentPickerModes</key>
			<array>
				<string>UIDocumentPickerModeImport</string>
				<string>UIDocumentPickerModeOpen</string>
				<string>UIDocumentPickerModeExportToService</string>
				<string>UIDocumentPickerModeMoveToService</string>
			</array>
			<key>UIDocumentPickerSupportedFileTypes</key>
			<array>
				<string>public.content</string>
			</array>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-ui</string>
	</dict>
	<key>MinimumOSVersion</key>
	<string>12.2</string>
</dict>
</plist>
