parameters:

- name: provisionatorChannel
  type: string
  default: 'latest'

- name: pool
  type: string
  default: automatic
  values:
  - pr
  - ci
  - automatic

- name: runGovernanceTests
  type: boolean
  default: true

- name: enableLegacySigning
  type: boolean
  default: true

- name: forceInsertion
  type: boolean
  default: false

- name: skipESRP
  type: boolean
  default: false # only to be used when testing the CI and we do not need a signed pkg

- name: pushNugets
  type: boolean
  default: true # default to true until otherwhise

- name: pushNugetsToMaestro
  type: boolean
  default: true

- name: isPR
  type: boolean

- name: repositoryAlias
  type: string
  default: self

- name: commit
  type: string
  default: HEAD

- name: xcodeChannel
  type: string

- name: macOSName
  type: string

# Ideally we should read/get the list of platforms from somewhere else, instead of hardcoding them here.
# Note that this is _all_ the platforms we support (not just the enabled ones).
- name: supportedPlatforms
  type: object
  default: [
    {
      platform: iOS,
      isDotNetPlatform: true,
      isLegacyPlatform: true
    },
    {
      platform: macOS,
      isDotNetPlatform: true,
      isLegacyPlatform: true
    },
    {
      platform: tvOS,
      isDotNetPlatform: true,
      isLegacyPlatform: true
    },
    {
      platform: watchOS,
      isDotNetPlatform: false,
      isLegacyPlatform: true
    },
    {
      platform: MacCatalyst,
      isDotNetPlatform: true,
      isLegacyPlatform: false
    },
    {
      # when running platform-specific test runs, we also need a special test run that executes tests that only runs when multiple platforms are enabled
      platform: Multiple,
      isDotNetPlatform: true,
      isLegacyPlatform: true
    }
  ]

- name: testConfigurations
  type: object
  default: [
    # Disabled by default #
    # {
    #   label: bcl,
    #   splitByPlatforms: false,
    # },
    {
      label: cecil,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: false,
      testPrefix: 'simulator_tests',
    },
    {
      label: dotnettests,
      splitByPlatforms: true,
      containsDotNetTests: true,
      containsLegacyTests: false,
      needsMultiplePlatforms: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: fsharp,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: framework,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: generator,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: interdependent-binding-projects,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: install-source,
      splitByPlatforms: false,
      containsDotNetTests: false,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: introspection,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: linker,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: mac-binding-project,
      splitByPlatforms: false,
      containsDotNetTests: false,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: mmp,
      splitByPlatforms: false,
      containsDotNetTests: false,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: mononative,
      splitByPlatforms: false,
      containsDotNetTests: false,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: monotouch,
      splitByPlatforms: true,
      containsDotNetTests: true,
      containsLegacyTests: true,
      needsMultiplePlatforms: false,
      testPrefix: 'simulator_tests',
    },
    {
      label: msbuild,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: mtouch,
      splitByPlatforms: false,
      containsDotNetTests: false,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: xammac,
      splitByPlatforms: false,
      containsDotNetTests: false,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: xcframework,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
    {
      label: xtro,
      splitByPlatforms: false,
      containsDotNetTests: true,
      containsLegacyTests: true,
      testPrefix: 'simulator_tests',
    },
  ]

- name: deviceTestsConfigurations
  type: object

- name: macTestsConfigurations
  type: object

- name: signingSetupSteps
  type: stepList
  default: []

- name: legacyPackageJobs
  type: object
  default: [
    {
      job: 'xamarin_ios_sign_notarize',
      name: 'Xamarin.iOS',
      pattern: 'xamarin.ios-*',
      conditionVariable: "INCLUDE_LEGACY_IOS",
    },
    {
      job: 'xamarin_mac_sing_notarie',
      name: 'Xamarin.Mac',
      pattern: 'xamarin.mac-*',
      conditionVariable: "INCLUDE_LEGACY_MAC",
    }
  ]

- name: azureStorage
  type: string

- name: azureContainer
  type: string

- name: stageDisplayNamePrefix
  type: string
  default: ''

- name: dependsOn
  type: string
  default: ''

- name: dependsOnResult
  type: string
  default: ''

stages:

- ${{ if eq(parameters.runGovernanceTests, true) }}:
  - template: ./governance/stage.yml
    parameters:
      isPR: ${{ parameters.isPR }}
      repositoryAlias: ${{ parameters.repositoryAlias }}
      commit: ${{ parameters.commit }}
      stageDisplayNamePrefix: ${{ parameters.stageDisplayNamePrefix }}

- ${{ if parameters.isPR }}:
  - stage: clean
    displayName: '${{ parameters.stageDisplayNamePrefix }}Clean up'
    dependsOn: []
    jobs:
    - job:
      displayName: 'Clean comments'
      pool:
        name: AzurePipelines-EO
        demands:
        - ImageOverride -equals 1ESPT-Windows2022

      steps:
      - template: ./common/clean.yml

- stage: configure_build
  displayName: '${{ parameters.stageDisplayNamePrefix }}Configure'
  dependsOn: ${{ parameters.dependsOn }}
  ${{ if and(ne(parameters.dependsOn, ''), ne(parameters.dependsOnResult, '')) }}:
    condition: eq(dependencies.${{ parameters.dependsOn }}.result, '${{ parameters.dependsOnResult }}')
  jobs:
  - ${{ if eq(parameters.pool, 'automatic') }}:
    - job: AgentPoolSelector       # https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml
      pool: # Consider using an agentless (server) job here, but would need to host selection logic as an Azure function: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#server
        name: AzurePipelines-EO
        demands:
        - ImageOverride -equals 1ESPT-Windows2022
      steps:
      - checkout: none             # https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout

      # Selects appropriate agent pool based on trigger type (PR or CI); manually triggered builds target the PR pool
      - template: azure-devops-pools/agent-pool-selector.yml@yaml-templates
        parameters:
          agentPoolPR: $(PRBuildPool)
          agentPoolPRUrl: $(PRBuildPoolUrl)
          agentPoolCI: $(CIBuildPool)
          agentPoolCIUrl: $(CIBuildPoolUrl)

  - job: configure
    displayName: 'Configure build'
    pool:
      name: AzurePipelines-EO
      demands:
      - ImageOverride -equals 1ESPT-Windows2022

    variables:
      isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
      isScheduled: $[eq(variables['Build.Reason'], 'Schedule')]
      BRANCH_NAME: $[ replace(variables['Build.SourceBranch'], 'refs/heads/', '') ]

    steps:
    - template: common/configure.yml
      parameters: 
        repositoryAlias: ${{ parameters.repositoryAlias }}
        commit: ${{ parameters.commit }}
        testConfigurations: ${{ parameters.testConfigurations }}
        supportedPlatforms: ${{ parameters.supportedPlatforms }}
        testsLabels: '--label=skip-all-tests,run-ios-tests,run-ios-simulator-tests,run-tvos-tests,run-watchos-tests,run-mac-tests,run-maccatalyst-tests,run-dotnet-tests,run-system-permission-tests,run-legacy-xamarin-tests'
        statusContext: 'VSTS: simulator tests' 
        uploadArtifacts: true
        use1ES: true

