; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

[*.{cs}]
indent_style = tab
indent_size = 4

[*.{props,targets}]
indent_style = tab
indent_size = 4

[*.{csproj}]
indent_style = space
indent_size = 2
