Microsoft.NET.Workload.*/LICENSE
WorkloadManifest.json
nupkgs
Microsoft.*.Sdk/targets/Microsoft.*.Sdk.SupportedTargetPlatforms.props
Microsoft.*.Sdk/targets/Microsoft.*.Sdk.DefaultItems.props
_pkg
.stamp-*
