parameters:

- name: isPR
  type: boolean

- name: repositoryAlias
  type: string
  default: self

- name: commit
  type: string
  default: HEAD

- name: uploadPrefix
  type: string
  default: '$(MaciosUploadPrefix)'

steps:

- template: ../common/checkout.yml
  parameters:
    isPR: ${{ parameters.isPR }}
    repositoryAlias: ${{ parameters.repositoryAlias }}
    commit: ${{ parameters.commit }}

- task: DownloadPipelineArtifact@2
  displayName: Download artifacts
  inputs:
    artifactName: not-signed-package
    allowFailedBuilds: true
    path: $(Build.SourcesDirectory)/not-signed-package

- pwsh: >-
    ./prepare_workload_apiscan.ps1
    -SourcesDirectory "$(Build.SourcesDirectory)"
    -AndroidHash $Env:PLATFORM
  displayName: "Expand nugets"
  workingDirectory: $(Build.SourcesDirectory)/xamarin-macios/tools/devops/automation/scripts
  env:
    PLATFORM: $(PLATFORM)

- task: APIScan@2
  displayName: Run APIScan
  inputs:
    softwareFolder: $(Build.SourcesDirectory)/APIScan
    softwareName: "Microsoft.$(PLATFORM)"
    softwareVersionNum: $(VERSION)
    isLargeApp: false
    toolVersion: 'Latest'
  env:
    AzureServicesAuthConnectionString: runAs=App;AppId=$(CLIENT_ID);TenantId=$(TENANT);AppKey=$(SECRET)

- task: TSAUpload@2
  inputs:
    GdnPublishTsaOnboard: true
    GdnPublishTsaConfigFile: '$(System.DefaultWorkingDirectory)\\maccore\\tools\\devops\\tsa_config.gdntsa'
    GdnPublishTsaExportedResultsPublishable: true
  displayName: Create bugs for compliance tools results
  condition: succeededOrFailed()
  env:
    WorkingDirectory: '$(Build.SourcesDirectory)/xamarin-macios' 

- task: securedevelopmentteam.vss-secure-development-tools.build-task-postanalysis.PostAnalysis@2
  displayName: Break on compliance issues
  inputs:
    GdnBreakAllTools: false # do not break for APIScan until we have fixe the issues
    GdnBreakSuppressionFiles: $(Build.SourcesDirectory)\maccore\tools\devops\falsepositives.gdnsuppress
    GdnBreakSuppressionSets: falsepositives
    GdnBreakOutputSuppressionFile: $(Build.ArtifactStagingDirectory)\GuardianSuppressions\falsepositives.gdnsuppress
    GdnBreakOutputSuppressionSet: falsepositives

- task: PublishBuildArtifacts@1
  displayName: Publish Artifact for Guardian Supressions
  inputs:
    PathtoPublish: $(Build.ArtifactStagingDirectory)\GuardianSuppressions
    ArtifactName: Guardian Suppressions
  condition: failed()
