downloads
.stamp*
.deps.*.mk
*.config.cache
install
mac32
mac64
llvm
llvm64
simulator86
simulator64
watchsimulator
tvsimulator
tools64
cross
cross64
crosstv
cross-watch
target7
target7s
target64
targettv
targetwatch
watchbcl

