<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>10.0.0</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{B86D100D-895B-4510-A5BB-E08F11E82C3C}</ProjectGuid>
    <ProjectTypeGuids>{A3F8F2AB-B479-4A4A-A458-A89E7DC349F1};{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</ProjectTypeGuids>
    <OutputType>Exe</OutputType>
    <RootNamespace>BCL.Tests</RootNamespace>
    <MonoMacResourcePrefix>Resources</MonoMacResourcePrefix>
    <AssemblyName>System.Runtime.SerializationTests</AssemblyName>
    <NoWarn>67,168,169,219,414,612,618,649,672</NoWarn>
    <TargetFrameworkVersion>v4.5</TargetFrameworkVersion>
    <UseXamMacFullFramework>true</UseXamMacFullFramework>
    <IntermediateOutputPath>obj\$(Platform)\$(Configuration)-unified</IntermediateOutputPath>
    <DefineConstants>XAMCORE_2_0;ADD_BCL_EXCLUSIONS</DefineConstants>
  </PropertyGroup>
   <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;MONOMAC;DISABLE_CAS_USE;NO_GUI_TESTING;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <EnablePackageSigning>false</EnablePackageSigning>
    <CodeSigningKey>Mac Developer</CodeSigningKey>
    <EnableCodeSigning>false</EnableCodeSigning>
    <CreatePackage>false</CreatePackage>
    <LinkMode>None</LinkMode>
    <XamMacArch>x86_64</XamMacArch>
    <I18n>cjk,mideast,other,rare,west</I18n>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>full</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;MONOMAC;DISABLE_CAS_USE;NO_GUI_TESTING;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <LinkMode>None</LinkMode>
    <CreatePackage>false</CreatePackage>
    <CodeSigningKey>Mac Developer</CodeSigningKey>
    <EnableCodeSigning>false</EnableCodeSigning>
    <EnablePackageSigning>false</EnablePackageSigning>
    <I18n>cjk,mideast,other,rare,west</I18n>
  </PropertyGroup>
   <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Xml" />
    <Reference Include="System.Core" />
    <Reference Include="System.Data" />
    <Reference Include="System.ServiceModel" />
    <Reference Include="System.Runtime.Serialization" />
    <Reference Include="Xamarin.Mac" />
  </ItemGroup>
  <ItemGroup>
    <Folder Include="Resources\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="Info-mac.plist">
      <LogicalName>Info.plist</LogicalName>
    </None>
  </ItemGroup>
  <ItemGroup>
   <Compile Include="../../common/mac/MacTestMain.cs">
      <Link>MacTestMain.cs</Link>
    </Compile>
  </ItemGroup>
  <ItemGroup>
#FILES#
  </ItemGroup>
  <ItemGroup>
    <Compile Include="..\..\..\external\mono\mcs\class\test-helpers\TestResourceHelper.cs">
      <Link>test-helpers\TestResourceHelper.cs</Link>
    </Compile>
  </ItemGroup>
  <ItemGroup>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\one.xml">
      <Link>Test/Resources/one.xml</Link>
      <LogicalName>Test/Resources/one.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns0.xsd">
      <Link>Test/Resources/Schemas/ns0.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns0.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns1.xsd">
      <Link>Test/Resources/Schemas/ns1.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns1.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns10.xsd">
      <Link>Test/Resources/Schemas/ns10.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns10.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns11.xsd">
      <Link>Test/Resources/Schemas/ns11.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns11.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns12.xsd">
      <Link>Test/Resources/Schemas/ns12.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns12.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns13.xsd">
      <Link>Test/Resources/Schemas/ns13.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns13.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns14.xsd">
      <Link>Test/Resources/Schemas/ns14.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns14.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns15.xsd">
      <Link>Test/Resources/Schemas/ns15.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns15.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns16.xsd">
      <Link>Test/Resources/Schemas/ns16.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns16.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns17.xsd">
      <Link>Test/Resources/Schemas/ns17.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns17.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns18.xsd">
      <Link>Test/Resources/Schemas/ns18.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns18.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns19.xsd">
      <Link>Test/Resources/Schemas/ns19.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns19.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns2.xsd">
      <Link>Test/Resources/Schemas/ns2.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns2.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns20.xsd">
      <Link>Test/Resources/Schemas/ns20.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns20.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns21.xsd">
      <Link>Test/Resources/Schemas/ns21.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns21.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns22.xsd">
      <Link>Test/Resources/Schemas/ns22.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns22.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns23.xsd">
      <Link>Test/Resources/Schemas/ns23.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns23.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns24.xsd">
      <Link>Test/Resources/Schemas/ns24.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns24.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns25.xsd">
      <Link>Test/Resources/Schemas/ns25.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns25.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns26.xsd">
      <Link>Test/Resources/Schemas/ns26.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns26.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns27.xsd">
      <Link>Test/Resources/Schemas/ns27.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns27.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns28.xsd">
      <Link>Test/Resources/Schemas/ns28.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns28.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns29.xsd">
      <Link>Test/Resources/Schemas/ns29.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns29.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns3.xsd">
      <Link>Test/Resources/Schemas/ns3.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns3.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns30.xsd">
      <Link>Test/Resources/Schemas/ns30.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns30.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns31.xsd">
      <Link>Test/Resources/Schemas/ns31.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns31.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns32.xsd">
      <Link>Test/Resources/Schemas/ns32.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns32.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns33.xsd">
      <Link>Test/Resources/Schemas/ns33.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns33.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns34.xsd">
      <Link>Test/Resources/Schemas/ns34.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns34.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns34_2.xsd">
      <Link>Test/Resources/Schemas/ns34_2.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns34_2.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns4.xsd">
      <Link>Test/Resources/Schemas/ns4.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns4.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns5.xsd">
      <Link>Test/Resources/Schemas/ns5.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns5.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns6.xsd">
      <Link>Test/Resources/Schemas/ns6.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns6.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns7.xsd">
      <Link>Test/Resources/Schemas/ns7.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns7.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns8.xsd">
      <Link>Test/Resources/Schemas/ns8.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns8.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\ns9.xsd">
      <Link>Test/Resources/Schemas/ns9.xsd</Link>
      <LogicalName>Test/Resources/Schemas/ns9.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\schema1.xsd">
      <Link>Test/Resources/Schemas/schema1.xsd</Link>
      <LogicalName>Test/Resources/Schemas/schema1.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\schema2.xsd">
      <Link>Test/Resources/Schemas/schema2.xsd</Link>
      <LogicalName>Test/Resources/Schemas/schema2.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\schema3.xsd">
      <Link>Test/Resources/Schemas/schema3.xsd</Link>
      <LogicalName>Test/Resources/Schemas/schema3.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\Schemas\xml.xsd">
      <Link>Test/Resources/Schemas/xml.xsd</Link>
      <LogicalName>Test/Resources/Schemas/xml.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\WSDL\collections.wsdl">
      <Link>Test/Resources/Schemas/collections.wsdl</Link>
      <LogicalName>Test/Resources/Schemas/collections.wsdl</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Runtime.Serialization\Test\Resources\WSDL\custom-collections.wsdl">
      <Link>Test/Resources/Schemas/custom-collections.wsdl</Link>
      <LogicalName>Test/Resources/Schemas/custom-collections.wsdl</LogicalName>
    </EmbeddedResource>
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\..\..\external\guiunit\src\framework\GuiUnit_NET_4_5.csproj">
      <Project>{D12F0F7B-8DE3-43EC-BA49-41052D065A9B}</Project>
      <Name>GuiUnit_NET_4_5</Name>
    </ProjectReference>
  </ItemGroup>
   <Import Project="$(MSBuildExtensionsPath)\Xamarin\Mac\Xamarin.Mac.CSharp.targets" />
</Project>
