<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProjectGuid>{93268FFB-571C-4402-8899-027A7778D2C0}</ProjectGuid>
    <ProjectTypeGuids>{A3F8F2AB-B479-4A4A-A458-A89E7DC349F1};{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</ProjectTypeGuids>
    <OutputType>Exe</OutputType>
    <RootNamespace>BCL.Tests</RootNamespace>
    <MonoMacResourcePrefix>Resources</MonoMacResourcePrefix>
    <AssemblyName>System.XmlTests</AssemblyName>
    <NoWarn>67,168,169,219,414,612,618,649,672</NoWarn>
    <TargetFrameworkVersion>v4.5</TargetFrameworkVersion>
    <UseXamMacFullFramework>true</UseXamMacFullFramework>
    <IntermediateOutputPath>obj\$(Platform)\$(Configuration)-unified</IntermediateOutputPath>
    <DefineConstants>XAMCORE_2_0;ADD_BCL_EXCLUSIONS</DefineConstants>
  </PropertyGroup>
 <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;MONOMAC;DISABLE_CAS_USE;NO_GUI_TESTING;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <EnablePackageSigning>false</EnablePackageSigning>
    <CodeSigningKey>Mac Developer</CodeSigningKey>
    <EnableCodeSigning>false</EnableCodeSigning>
    <CreatePackage>false</CreatePackage>
    <LinkMode>None</LinkMode>
    <XamMacArch>x86_64</XamMacArch>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>full</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;MONOMAC;DISABLE_CAS_USE;NO_GUI_TESTING;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <LinkMode>None</LinkMode>
    <CreatePackage>false</CreatePackage>
    <CodeSigningKey>Mac Developer</CodeSigningKey>
    <EnableCodeSigning>false</EnableCodeSigning>
    <EnablePackageSigning>false</EnablePackageSigning>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Xml" />
    <Reference Include="System.Core" />
    <Reference Include="System.Data" />
    <Reference Include="Xamarin.Mac" />
  </ItemGroup>
  <ItemGroup>
    <Folder Include="Resources\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="Info-mac.plist">
      <LogicalName>Info.plist</LogicalName>
    </None>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="../../common/mac/MacTestMain.cs">
      <Link>MacTestMain.cs</Link>
    </Compile>
  </ItemGroup>
  <ItemGroup>
#FILES#
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\..\..\external\guiunit\src\framework\GuiUnit_NET_4_5.csproj">
      <Project>{D12F0F7B-8DE3-43EC-BA49-41052D065A9B}</Project>
      <Name>GuiUnit_NET_4_5</Name>
    </ProjectReference>
  </ItemGroup>
  <Import Project="$(MSBuildExtensionsPath)\Xamarin\Mac\Xamarin.Mac.CSharp.targets" />
  <Import Project="../SyncTestResources.targets" />  
  <ItemGroup>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\1.xsd">
      <Link>Test\XmlFiles\xsd\1.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\2.xsd">
      <Link>Test\XmlFiles\xsd\2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\3.xsd">
      <Link>Test\XmlFiles\xsd\3.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\336625.xsd">
      <Link>Test\XmlFiles\xsd\336625.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\358408.xsd">
      <Link>Test\XmlFiles\xsd\358408.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\361818-2.xsd">
      <Link>Test\XmlFiles\xsd\361818-2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\361818-3.xsd">
      <Link>Test\XmlFiles\xsd\361818-3.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\361818.xsd">
      <Link>Test\XmlFiles\xsd\361818.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\376395.xml">
      <Link>Test\XmlFiles\xsd\376395.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\376395.xsd">
      <Link>Test\XmlFiles\xsd\376395.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\4.xsd">
      <Link>Test\XmlFiles\xsd\4.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\422581.xml">
      <Link>Test\XmlFiles\xsd\422581.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\422581.xsd">
      <Link>Test\XmlFiles\xsd\422581.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\5.xsd">
      <Link>Test\XmlFiles\xsd\5.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\584664a.xml">
      <Link>Test\XmlFiles\xsd\584664a.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\584664a.xsd">
      <Link>Test\XmlFiles\xsd\584664a.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\584664b.xml">
      <Link>Test\XmlFiles\xsd\584664b.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\584664b.xsd">
      <Link>Test\XmlFiles\xsd\584664b.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\6.xsd">
      <Link>Test\XmlFiles\xsd\6.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\670945-1.xsd">
      <Link>Test\XmlFiles\xsd\670945-1.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\670945-2.xsd">
      <Link>Test\XmlFiles\xsd\670945-2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\77687.xsd">
      <Link>Test\XmlFiles\xsd\77687.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\77687inc.xsd">
      <Link>Test\XmlFiles\xsd\77687inc.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\78985.xml">
      <Link>Test\XmlFiles\xsd\78985.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\78985.xsd">
      <Link>Test\XmlFiles\xsd\78985.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\79650.xsd">
      <Link>Test\XmlFiles\xsd\79650.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\81360.xsd">
      <Link>Test\XmlFiles\xsd\81360.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\81360inc1.xsd">
      <Link>Test\XmlFiles\xsd\81360inc1.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\81360inc2.xsd">
      <Link>Test\XmlFiles\xsd\81360inc2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\82010.xml">
      <Link>Test\XmlFiles\xsd\82010.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\82010.xsd">
      <Link>Test\XmlFiles\xsd\82010.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\82078.xsd">
      <Link>Test\XmlFiles\xsd\82078.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\datatypesTest.xsd">
      <Link>Test\XmlFiles\xsd\datatypesTest.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\extension-attr-redefine-1.xsd">
      <Link>Test\XmlFiles\xsd\extension-attr-redefine-1.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\extension-attr-redefine-2.xsd">
      <Link>Test\XmlFiles\xsd\extension-attr-redefine-2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\extension-attr-redefine-3.xsd">
      <Link>Test\XmlFiles\xsd\extension-attr-redefine-3.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\import-subst-dbr-base.xsd">
      <Link>Test\XmlFiles\xsd\import-subst-dbr-base.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\import-subst-dbr-ext.xsd">
      <Link>Test\XmlFiles\xsd\import-subst-dbr-ext.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\importNamespaceTest.xsd">
      <Link>Test\XmlFiles\xsd\importNamespaceTest.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\importNamespaceTest2.xsd">
      <Link>Test\XmlFiles\xsd\importNamespaceTest2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\importedNamespace.xsd">
      <Link>Test\XmlFiles\xsd\importedNamespace.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\importedNamespace2.xsd">
      <Link>Test\XmlFiles\xsd\importedNamespace2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\inter-inc-1.xsd">
      <Link>Test\XmlFiles\xsd\inter-inc-1.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\inter-inc-2.xsd">
      <Link>Test\XmlFiles\xsd\inter-inc-2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\multi-schemaLocation.xml">
      <Link>Test\XmlFiles\xsd\multi-schemaLocation.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\resolveUriSchema.xsd">
      <Link>Test\XmlFiles\xsd\resolveUriSchema.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\x-net-config-schema.xsd">
      <Link>Test\XmlFiles\xsd\x-net-config-schema.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\x-net-config-storage-factory-provider-schema.xsd">
      <Link>Test\XmlFiles\xsd\x-net-config-storage-factory-provider-schema.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\xml.xsd">
      <Link>Test\XmlFiles\xsd\xml.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsd\xsdimporttest.xml">
      <Link>Test\XmlFiles\xsd\xsdimporttest.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\316238-1.xsl">
      <Link>Test\XmlFiles\xsl\316238-1.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\316238-2.xsl">
      <Link>Test\XmlFiles\xsl\316238-2.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\325482.xml">
      <Link>Test\XmlFiles\xsl\325482.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\325482.xsl">
      <Link>Test\XmlFiles\xsl\325482.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\391424.xml">
      <Link>Test\XmlFiles\xsl\391424.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\391424.xsl">
      <Link>Test\XmlFiles\xsl\391424.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\82493.xml">
      <Link>Test\XmlFiles\xsl\82493.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\82493.xsl">
      <Link>Test\XmlFiles\xsl\82493.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\91834.xml">
      <Link>Test\XmlFiles\xsl\91834.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\91834.xsl">
      <Link>Test\XmlFiles\xsl\91834.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\91834a.xml">
      <Link>Test\XmlFiles\xsl\91834a.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\current-in-select.ref">
      <Link>Test\XmlFiles\xsl\current-in-select.ref</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\current-in-select.xml">
      <Link>Test\XmlFiles\xsl\current-in-select.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\current-in-select.xsl">
      <Link>Test\XmlFiles\xsl\current-in-select.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\empty.xsl">
      <Link>Test\XmlFiles\xsl\empty.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\stripspace.xml">
      <Link>Test\XmlFiles\xsl\stripspace.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\xsl\stripspace.xsl">
      <Link>Test\XmlFiles\xsl\stripspace.xsl</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\XsdValidation\1.xsd">
      <Link>Test\XmlFiles\XsdValidation\1.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\XsdValidation\2.xsd">
      <Link>Test\XmlFiles\XsdValidation\2.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\XsdValidation\3.xsd">
      <Link>Test\XmlFiles\XsdValidation\3.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\XsdValidation\4.xsd">
      <Link>Test\XmlFiles\XsdValidation\4.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\496192.xml">
      <Link>Test\XmlFiles\496192.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\496192.xsd">
      <Link>Test\XmlFiles\496192.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\595947.xsd">
      <Link>Test\XmlFiles\595947.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\676993.xml">
      <Link>Test\XmlFiles\676993.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\676993.xsd">
      <Link>Test\XmlFiles\676993.xsd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\76102.xml">
      <Link>Test\XmlFiles\76102.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\79683.dtd">
      <Link>Test\XmlFiles\79683.dtd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\literal-data.xml">
      <Link>Test\XmlFiles\literal-data.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\nested-dtd-test.dtd">
      <Link>Test\XmlFiles\nested-dtd-test.dtd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\nested-dtd-test.xml">
      <Link>Test\XmlFiles\nested-dtd-test.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\nested-included.dtd">
      <Link>Test\XmlFiles\nested-included.dtd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\XmlFiles\simple.xml">
      <Link>Test\XmlFiles\simple.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\System.Xml\nist_dom\files\noDTDXMLfile.xml">
      <Link>Test\System.Xml\nist_dom\files\noDTDXMLfile.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\System.Xml\nist_dom\files\otherDoc.xml">
      <Link>Test\System.Xml\nist_dom\files\otherDoc.xml</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\System.Xml\nist_dom\files\staff.dtd">
      <Link>Test\System.Xml\nist_dom\files\staff.dtd</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\System.Xml\nist_dom\files\staff.html">
      <Link>Test\System.Xml\nist_dom\files\staff.html</Link>
    </Content>
    <Content Include="..\..\..\external\mono\mcs\class\System.XML\Test\System.Xml\nist_dom\files\staff.xml">
      <Link>Test\System.Xml\nist_dom\files\staff.xml</Link>
    </Content>
  </ItemGroup>
</Project>
