<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Cecil" version="0.11.1" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="NUnit.Runners" version="3.9.0" targetFramework="net40" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net40" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net40" />
</packages>