# Template that performs the checkout and fixes a number of small issues we have found between the vsts <-> github integration

parameters:

- name: isPR
  type: boolean

- name: repositoryAlias
  type: string
  default: self

- name: commit
  type: string
  default: HEAD

steps:
- template: sdk-unified/steps/checkout/v1.yml@yaml-templates
  parameters:
    resource: ${{ parameters.repositoryAlias }}
    commit: ${{ parameters.commit }}
    clean: true
    submodules: recursive
    path: s/$(BUILD_REPOSITORY_TITLE)
    fetchTags: false

- pwsh: ./undo_github_merge.ps1 -SourceBranch "$(Build.SourceBranch)" -IsPr "${{ parameters.isPR }}"
  name: fix_commit
  displayName: "Undo Github merge"
  workingDirectory: $(System.DefaultWorkingDirectory)/$(BUILD_REPOSITORY_TITLE)/tools/devops/automation/scripts
  condition: startsWith(variables['Build.SourceBranch'], 'refs/pull')
  timeoutInMinutes: 15

- checkout: maccore
  clean: true
  fetchDepth: 0
  persistCredentials: true  # hugely important, else there are some scripts that check a single file from maccore that will fail
  fetchTags: false

- checkout: macios-adr
  clean: true
  fetchDepth: 0
  persistCredentials: true
  fetchTags: false

- checkout: yaml-templates
  clean: true
  fetchTags: false

- pwsh: ./clean_git_vsts.ps1 -GithubToken "$(GitHub.Token)" -MaccorePath "$(System.DefaultWorkingDirectory)/maccore"
  displayName: 'Clean git mess from VSTS'
  workingDirectory: $(System.DefaultWorkingDirectory)/$(BUILD_REPOSITORY_TITLE)/tools/devops/automation/scripts
