<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">iPhoneSimulator</Platform>
    <ProductVersion>10.0.0</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{BEF0140A-A6A6-4074-B55F-03856A6B5862}</ProjectGuid>
    <ProjectTypeGuids>{FEACFBD2-3405-455C-9665-78FE426C6842};{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</ProjectTypeGuids>
    <OutputType>Exe</OutputType>
    <RootNamespace>BCL.Tests</RootNamespace>
    <IPhoneResourcePrefix>Resources</IPhoneResourcePrefix>
    <AssemblyName>SystemDataTests</AssemblyName>
    <NoWarn>67,168,169,219,414,612,618,649,672</NoWarn>
    <TargetFrameworkIdentifier>Xamarin.iOS</TargetFrameworkIdentifier>
    <IntermediateOutputPath>obj\$(Platform)\$(Configuration)-unified</IntermediateOutputPath>
    <DefineConstants>XAMCORE_2_0;NO_ODBC;NO_CONFIGURATION</DefineConstants>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|iPhoneSimulator' ">
    <DebugSymbols>True</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>False</Optimize>
    <OutputPath>bin\iPhoneSimulator\$(Configuration)-unified</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <MtouchDebug>True</MtouchDebug>
    <MtouchLink>None</MtouchLink>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchArch>i386, x86_64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|iPhoneSimulator' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhoneSimulator\$(Configuration)-unified</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <MtouchLink>None</MtouchLink>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchArch>i386, x86_64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|iPhone' ">
    <DebugSymbols>True</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>False</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <MtouchDebug>True</MtouchDebug>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchArch>ARMv7, ARM64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug32|iPhone' ">
    <DebugSymbols>True</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>False</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <MtouchDebug>True</MtouchDebug>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchArch>ARMv7</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug64|iPhone' ">
    <DebugSymbols>True</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>False</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <MtouchDebug>True</MtouchDebug>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <MtouchArch>ARM64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|iPhone' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <MtouchArch>ARMv7, ARM64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
    <MtouchUseLlvm>true</MtouchUseLlvm>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release32|iPhone' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <MtouchArch>ARMv7</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
    <MtouchUseLlvm>true</MtouchUseLlvm>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release64|iPhone' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <MtouchArch>ARM64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
    <MtouchUseLlvm>true</MtouchUseLlvm>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release-bitcode|iPhone' ">
    <DebugType>none</DebugType>
    <Optimize>True</Optimize>
    <OutputPath>bin\iPhone\$(Configuration)-unified</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignKey>iPhone Developer</CodesignKey>
    <AllowUnsafeBlocks>True</AllowUnsafeBlocks>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;NET_2_1;MOBILE;MONOTOUCH;FULL_AOT_RUNTIME;DISABLE_CAS_USE;$(DefineConstants)</DefineConstants>
    <MtouchArch>ARMv7, ARM64</MtouchArch>
    <MtouchI18n>west</MtouchI18n>
    <MtouchExtraArgs>--bitcode:full</MtouchExtraArgs>
    <MtouchUseLlvm>true</MtouchUseLlvm>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Xml" />
    <Reference Include="System.Core" />
    <Reference Include="System.Data" />
    <Reference Include="Xamarin.iOS" />
    <Reference Include="MonoTouch.NUnitLite" />
  </ItemGroup>
  <ItemGroup>
    <Folder Include="Resources\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="Info.plist">
      <LogicalName>Info.plist</LogicalName>
    </None>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="..\Main.cs">
      <Link>Main.cs</Link>
    </Compile>
    <Compile Include="..\AppDelegate.cs">
      <Link>AppDelegate.cs</Link>
    </Compile>
    <Compile Include="..\..\common\Assert.cs">
      <Link>Assert.cs</Link>
    </Compile>
  </ItemGroup>
  <ItemGroup>
#FILES#
  </ItemGroup>
  <ItemGroup>
    <Compile Include="..\..\..\external\mono\mcs\class\test-helpers\TestResourceHelper.cs">
      <Link>test-helpers\TestResourceHelper.cs</Link>
    </Compile>
  </ItemGroup>
  <Import Project="$(MSBuildExtensionsPath)\Xamarin\iOS\Xamarin.iOS.CSharp.targets" />
  <ItemGroup>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\binserialize\BS-tb1.bin">
      <Link>Test\System.Data\binserialize\BS-tb1.bin</Link>
      <LogicalName>Test/System.Data/binserialize/BS-tb1.bin</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\binserialize\BS-tb2.bin">
      <Link>Test\System.Data\binserialize\BS-tb2.bin</Link>
      <LogicalName>Test/System.Data/binserialize/BS-tb2.bin</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\binserialize\BS-tb3.bin">
      <Link>Test\System.Data\binserialize\BS-tb3.bin</Link>
      <LogicalName>Test/System.Data/binserialize/BS-tb3.bin</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\binserialize\BS-tb4.bin">
      <Link>Test\System.Data\binserialize\BS-tb4.bin</Link>
      <LogicalName>Test/System.Data/binserialize/BS-tb4.bin</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\binserialize\BS-tb5.bin">
      <Link>Test\System.Data\binserialize\BS-tb5.bin</Link>
      <LogicalName>Test/System.Data/binserialize/BS-tb5.bin</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\store.xsd">
      <Link>Test\System.Data\store.xsd</Link>
      <LogicalName>Test/System.Data/store.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\store2.xsd">
      <Link>Test\System.Data\store2.xsd</Link>
      <LogicalName>Test/System.Data/store2.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\store3.xsd">
      <Link>Test\System.Data\store3.xsd</Link>
      <LogicalName>Test/System.Data/store3.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\store4.xsd">
      <Link>Test\System.Data\store4.xsd</Link>
      <LogicalName>Test/System.Data/store4.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\b582732.xml">
      <Link>Test\System.Data\schemas\b582732.xml</Link>
      <LogicalName>Test/System.Data/schemas/b582732.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\bug77248.xsd">
      <Link>Test\System.Data\schemas\bug77248.xsd</Link>
      <LogicalName>Test/System.Data/schemas/bug77248.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\Items.xsd">
      <Link>Test\System.Data\schemas\Items.xsd</Link>
      <LogicalName>Test/System.Data/schemas/Items.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test001.xsd">
      <Link>Test\System.Data\schemas\test001.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test001.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test002.xsd">
      <Link>Test\System.Data\schemas\test002.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test002.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test003.xsd">
      <Link>Test\System.Data\schemas\test003.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test003.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test004.xsd">
      <Link>Test\System.Data\schemas\test004.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test004.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test005.xsd">
      <Link>Test\System.Data\schemas\test005.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test005.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test006.xsd">
      <Link>Test\System.Data\schemas\test006.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test006.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test007.xsd">
      <Link>Test\System.Data\schemas\test007.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test007.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test008.xsd">
      <Link>Test\System.Data\schemas\test008.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test008.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test009.xsd">
      <Link>Test\System.Data\schemas\test009.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test009.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test010.xsd">
      <Link>Test\System.Data\schemas\test010.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test010.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test011.xsd">
      <Link>Test\System.Data\schemas\test011.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test011.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test012.xsd">
      <Link>Test\System.Data\schemas\test012.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test012.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test013.xsd">
      <Link>Test\System.Data\schemas\test013.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test013.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test014.xsd">
      <Link>Test\System.Data\schemas\test014.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test014.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test015.xsd">
      <Link>Test\System.Data\schemas\test015.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test015.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test016.xsd">
      <Link>Test\System.Data\schemas\test016.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test016.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test017.xsd">
      <Link>Test\System.Data\schemas\test017.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test017.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test101.xsd">
      <Link>Test\System.Data\schemas\test101.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test101.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test102.xsd">
      <Link>Test\System.Data\schemas\test102.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test102.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\schemas\test103.xsd">
      <Link>Test\System.Data\schemas\test103.xsd</Link>
      <LogicalName>Test/System.Data/schemas/test103.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\region.xml">
      <Link>Test\System.Data\region.xml</Link>
      <LogicalName>Test/System.Data/region.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\own_schema.xsd">
      <Link>Test\System.Data\own_schema.xsd</Link>
      <LogicalName>Test/System.Data/own_schema.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\own_schema1.xsd">
      <Link>Test\System.Data\own_schema1.xsd</Link>
      <LogicalName>Test/System.Data/own_schema1.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\own_schema2.xsd">
      <Link>Test\System.Data\own_schema2.xsd</Link>
      <LogicalName>Test/System.Data/own_schema2.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\TypedDataSet.xml">
      <Link>Test\System.Data\TypedDataSet.xml</Link>
      <LogicalName>Test/System.Data/TypedDataSet.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Xml\region.xml">
      <Link>Test\System.Xml\region.xml</Link>
      <LogicalName>Test/System.Xml/region.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Xml\region.xsd">
      <Link>Test\System.Xml\region.xsd</Link>
      <LogicalName>Test/System.Xml/region.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Xml\store.xsd">
      <Link>Test\System.Xml\store.xsd</Link>
      <LogicalName>Test/System.Xml/store.xsd</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\Mono.Data.SqlExpressions\dateComparisonTest.xml">
      <Link>Test\Mono.Data.SqlExpressions\dateComparisonTest.xml</Link>
      <LogicalName>Test/Mono.Data.SqlExpressions/dateComparisonTest.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\TestMerge1.xml">
      <Link>Test\System.Data\TestMerge1.xml</Link>
      <LogicalName>Test/System.Data/TestMerge1.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Xml\2books.xml">
      <Link>Test\System.Xml\2books.xml</Link>
      <LogicalName>Test/System.Xml/2books.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\TestReadXmlSchema1.xml">
      <Link>Test\System.Data\TestReadXmlSchema1.xml</Link>
      <LogicalName>Test/System.Data/TestReadXmlSchema1.xml</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Data\Test\System.Data\TestReadXml1.xml">
      <Link>Test\System.Data\TestReadXml1.xml</Link>
      <LogicalName>Test/System.Data/TestReadXml1.xml</LogicalName>
    </EmbeddedResource>
  </ItemGroup>
</Project>
