# YAML pipeline build definition
# https://devdiv.visualstudio.com/DevDiv/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=13947&view=Tab_Tasks
#
# YAML build pipeline based on the Jenkins multi-stage (main branch) build workflow
# https://jenkins.internalx.com/view/Xamarin.MaciOS/job/macios/job/main/
# https://jenkins.internalx.com/view/Xamarin.MaciOS/job/macios/configure
#
parameters:

- name: runGovernanceTests
  type: boolean
  default: true

- name: stageDisplayNamePrefix
  type: string
  default: ''

- name: dependsOn
  type: string
  default: ''

- name: dependsOnResult
  type: string
  default: ''

- name: isPR
  type: boolean
  default: false

- name: repositoryAlias
  type: string
  default: self

- name: commit
  type: string
  default: HEAD

variables:
- name: System.Debug
  value: true

resources:
  repositories:
  - repository: self
    checkoutOptions:
      submodules: true

  - repository: yaml-templates
    type: github
    name: xamarin/yaml-templates
    ref: refs/heads/main
    endpoint: xamarin

  - repository: sdk-insertions
    type: github
    name: xamarin/sdk-insertions
    ref: refs/heads/main
    endpoint: xamarin

  - repository: maccore
    type: github
    name: xamarin/maccore
    ref: refs/heads/main
    endpoint: xamarin

  - repository: release-scripts
    type: github
    name: xamarin/release-scripts
    ref: refs/heads/only_codesign
    endpoint: xamarin

trigger: none

schedules:

# the translations team wants a green build, we can do that on sundays even if 
# the code did not change and without the device tests.
- cron: "10 15 * * *"
  displayName: Weekly Translations build (Sunday @ noon)
  branches:
    include:
    - main
    - test-cron
  always: true

stages:

- ${{ if eq(parameters.runGovernanceTests, true) }}:
  - stage: governance_checks
    displayName: '${{ parameters.stageDisplayNamePrefix }}Governance Checks'
    dependsOn: ${{ parameters.dependsOn }}
    ${{ if and(ne(parameters.dependsOn, ''), ne(parameters.dependsOnResult, '')) }}:
      condition: eq(dependencies.${{ parameters.dependsOn }}.result, '${{ parameters.dependsOnResult }}')
    jobs:
    - job: governance
      displayName: 'Governance Checks'
      pool:
        vmImage: windows-latest
      steps:
      - template: templates/governance-checks.yml
        parameters:
          isPR: ${{ parameters.isPR }}
          repositoryAlias: ${{ parameters.repositoryAlias }}
          commit: ${{ parameters.commit }}

    # - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
    - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/test-cron') }}:
      - job: translations
        displayName: 'Loc translations'
        pool:
          vmImage: windows-latest
        steps:
        - template:  templates/loc-translations.yml
          parameters:
            isPR: ${{ parameters.isPR }}
            repositoryAlias: ${{ parameters.repositoryAlias }}
            commit: ${{ parameters.commit }}
