build
MonoTouch.Dialog-1.csproj
MonoTouch.Dialog-1.tvos.csproj
MonoTouch.Dialog-1.unified.csproj
MonoTouch.NUnitLite.csproj
MonoTouch.NUnitLite.tvos.csproj
MonoTouch.NUnitLite.unified.csproj
MonoTouch.NUnitLite.watchos.csproj
xamios.csproj
xammac.csproj
xamtvos.csproj
xamwatch.csproj
generator.csproj
~.pmcs-*
*~
