<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProjectGuid>{DA061019-04C3-4221-AF04-63F2BFB5DA42}</ProjectGuid>
    <ProjectTypeGuids>{A3F8F2AB-B479-4A4A-A458-A89E7DC349F1};{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</ProjectTypeGuids>
    <OutputType>Exe</OutputType>
    <RootNamespace>BCL.Tests</RootNamespace>
    <MonoMacResourcePrefix>Resources</MonoMacResourcePrefix>
    <AssemblyName>System.Web.ServicesTests</AssemblyName>
    <NoWarn>67,168,169,219,414,612,618,649,672</NoWarn>
    <TargetFrameworkVersion>v4.5</TargetFrameworkVersion>
    <UseXamMacFullFramework>true</UseXamMacFullFramework>
    <IntermediateOutputPath>obj\$(Platform)\$(Configuration)-unified</IntermediateOutputPath>
    <DefineConstants>XAMCORE_2_0;ADD_BCL_EXCLUSIONS</DefineConstants>
  </PropertyGroup>
   <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug</OutputPath>
    <DefineConstants>DEBUG;NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;MONOMAC;DISABLE_CAS_USE;NO_GUI_TESTING;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <EnablePackageSigning>false</EnablePackageSigning>
    <CodeSigningKey>Mac Developer</CodeSigningKey>
    <EnableCodeSigning>false</EnableCodeSigning>
    <CreatePackage>false</CreatePackage>
    <LinkMode>None</LinkMode>
    <XamMacArch>x86_64</XamMacArch>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>full</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release</OutputPath>
    <DefineConstants>NET_1_1;NET_2_0;NET_3_0;NET_3_5;NET_4_0;NET_4_5;MONOMAC;DISABLE_CAS_USE;NO_GUI_TESTING;$(DefineConstants)</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <LinkMode>None</LinkMode>
    <CreatePackage>false</CreatePackage>
    <CodeSigningKey>Mac Developer</CodeSigningKey>
    <EnableCodeSigning>false</EnableCodeSigning>
    <EnablePackageSigning>false</EnablePackageSigning>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Core" />
    <Reference Include="System.EnterpriseServices" />
    <Reference Include="System.Web.Services" />
    <Reference Include="System.Xml" />
    <Reference Include="Xamarin.Mac" />
  </ItemGroup>
  <ItemGroup>
    <Folder Include="Resources\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="Info-mac.plist">
      <LogicalName>Info.plist</LogicalName>
    </None>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="../../common/mac/MacTestMain.cs">
      <Link>MacTestMain.cs</Link>
    </Compile>
  </ItemGroup>
  <ItemGroup>
#FILES#
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\..\..\external\guiunit\src\framework\GuiUnit_NET_4_5.csproj">
      <Project>{D12F0F7B-8DE3-43EC-BA49-41052D065A9B}</Project>
      <Name>GuiUnit_NET_4_5</Name>
    </ProjectReference>
  </ItemGroup>
  <ItemGroup>
    <Compile Include="..\..\..\external\mono\mcs\class\test-helpers\TestResourceHelper.cs">
      <Link>test-helpers\TestResourceHelper.cs</Link>
    </Compile>
    <Compile Include="..\..\..\external\mono\mcs\class\test-helpers\SocketResponder.cs">
      <Link>test-helpers\SocketResponder.cs</Link>
    </Compile>
  </ItemGroup>
  <Import Project="$(MSBuildExtensionsPath)\Xamarin\Mac\Xamarin.Mac.CSharp.targets" />
  <ItemGroup>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Web.Services\Test\System.Web.Services.Description\test2.wsdl">
      <Link>Test\System.Web.Services.Description\test2.wsdl</Link>
      <LogicalName>Test/System.Web.Services.Description/test2.wsdl</LogicalName>
    </EmbeddedResource>
    <EmbeddedResource Include="..\..\..\external\mono\mcs\class\System.Web.Services\Test\System.Web.Services.Description\test.wsdl">
      <Link>Test\System.Web.Services.Description\test.wsdl</Link>
      <LogicalName>Test/System.Web.Services.Description/test.wsdl</LogicalName>
    </EmbeddedResource>
  </ItemGroup>
</Project>
