name: Autoformat code
on: pull_request

# This action only need a single permission in order to autoformat the code.
permissions:
  contents: read

jobs:
  autoformat-code:
    name: Autoformat code
    runs-on: ubuntu-latest

    steps:
    - name: 'Autoformat'
      uses: rolfbjarne/autoformat@v0.2.99
      with:
        script: ./tools/autoformat.sh
        git_user_email: 'github-actions-autoformatter@xamarin.com'
        git_user_name: 'GitHub Actions Autoformatter'
