<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Xamarin.PreBuilt</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.Xamarin-PreBuilt</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>appiconfg</string>
	</dict>
	<key>CFBundleName</key>
	<string>Xamarin.PreBuilt</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>appicon20x20</string>
				<string>appicon29x29</string>
				<string>appicon40x40</string>
				<string>appicon60x60</string>
				<string>appicon76x76</string>
				<string>appicon83.5x83.5</string>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
